GAME_SERVICE_ADDRESS=:8082

DATABASE_DSN=postgresql://user:pswd@taskbingo-postgres:5432/user-data
PSQL_DSN_SERVER=postgresql://user:pswd@localhost:5432/user-data

DB_HOST=taskbingo-postgres
DB_DRIVER=postgres
DB_USER=user
DB_PASSWORD=pswd
DB_NAME=user-data
DB_PORT=5432

SECRET=ohsecret

CURRENT_DOMAIN=localhost
ALLOWED_WS_ORIGINS=http://localhost:3000,https://taskbingo.com

VITE_API_URL=http://localhost:8082
VITE_WS_URL=ws://localhost:8082
VITE_WEB_URL=localhost:3000
