/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

span {
    font-family: Unbounded;
}

body {
    text-align: center;
    background-color: #11202d;
    color: rgb(238, 237, 197);
}

.dark {
    background-color: #11202d;
    color: rgb(238, 237, 197); 
}
